<!-- BODY HEADER ADD -->

<header>

    <!-- TITLE -->
    <h1><a href="{{ " /" | absolute_url }}">{{ page.title | site.title | default: site.github.repository_name }}</a>
    </h1>

    <!-- LOGO -->
    {% if page.logo %}
    <img src="{{ page.logo | default: '/data/favicon.ico' }}" alt="Logo" />
    {% endif %}

    <!-- DESCRIPTION -->
    <p>{{ page.description | site.description | default: site.github.project_tagline }}</p>

    <!-- TYPE IS POST -->
    {% if page.type == 'post' %}
    <p class="view">by {{ page.author.name | default: site.author }}</p>
    {% if page.author.img %}
    <!-- TODO add image -->
    {% endif %}
    {% endif %}

    <!-- GITHUB PROFILE LINK -->
    {% if page.links.github_profile %}
    <p class="view"><a href="{{ page.links.github_profile | default: site.github.owner_url }}">view my github profile</a></p>
    {% endif %}

    <!-- DOWNLOADS BUTTON -->
    {% if site.show_downloads %}
    <ul class="downloads">
        <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
        <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
        <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
    </ul>
    {% endif %}

    <!-- BUY ME A COFFEE -->
    {% if page.buyMeCoffee %}
    <p>buyMeCoffee</p>
    {% endif %}

</header>